Repository matrix-org/matrix-spec-proposals, pull requests merged in 2018-12, with the labels that each got.

#1467 MSC 1466 - Soft Logout
  proposals/1466-soft-logout.md
Labels: T-Core, disposition-merge, finished-final-comment-period, proposal-pr

#1748 MSC1730: Mechanism for redirecting to an alternative server during login (version 2)
  proposals/1730-cs-api-in-login-response.md
  proposals/images/1730-seq-diagram.1.svg
  proposals/images/1730-seq-diagram.txt
Labels: finished-final-comment-period

#1755 Document the checks made for incoming PDUs
  specification/server_server_api.rst
Labels: clarification

#1744 Add missing status_msg to m.presence schema and example
  changelogs/client_server/newsfragments/1744.clarification
  event-schemas/examples/m.presence
  event-schemas/schema/m.presence
Labels: spec-bug

#1759 Room v2 proposal
  proposals/1759-rooms-v2.md
Labels: T-Core, disposition-merge, finished-final-comment-period, proposal, proposal-in-review

#1693 MSC1693: Specify how to handle rejected events in new state res
  proposals/1442-state-resolution.md
  proposals/images/state-res-rejected.dot
  proposals/images/state-res-rejected.png
Labels: T-Core, disposition-merge, finished-final-comment-period, proposal, proposal-pr, s2s

#1598 MSC 1597: Better spec for matrix identifiers
  proposals/1597-id-grammar.md
Labels: T-Core, disposition-merge, finished-final-comment-period, proposal-pr
