Repository matrix-org/matrix-spec-proposals, pull requests merged in 2019-01, with the labels that each got.

#1753 MSC1753: client-server capabilities API
  proposals/1753-capabilities.md
Labels: disposition-merge, finished-final-comment-period, proposal

#1704 MSC1704: Adding ?via= to matrix.to permalinks to help with routing
  proposals/1704-matrix.to-permalinks.md
Labels: client-server vNext candidate, disposition-merge, finished-final-comment-period, proposal, proposal-pr

#1711 MSC1711: X.509 certificate verification for federation connections
  proposals/1711-x509-for-federation.md
Labels: disposition-merge, finished-final-comment-period, proposal, proposal-pr, r0 P1

#1708 MSC1708: .well-known support for server name resolution
  proposals/1708-well-known-for-federation.md
Labels: disposition-merge, finished-final-comment-period, proposal, proposal-in-review, r0 P1

#1794 MSC 1794 - Federation v2 Invite API
  proposals/1794-federation-v2-invites.md
Labels: disposition-merge, finished-final-comment-period, proposal, proposal-in-review

#1791 Add room version upgrades
  api/client-server/room_upgrades.yaml
  changelogs/client_server/newsfragments/1791.feature
  event-schemas/examples/m.room.create
  event-schemas/examples/m.room.tombstone
  event-schemas/schema/m.room.create
  event-schemas/schema/m.room.tombstone
  proposals/1501-room-version-upgrades.md
  specification/modules/room_upgrades.rst
  specification/targets.yaml
Labels: r0 P1

#1773 Add a room version specification
  scripts/gendoc.py
  scripts/templating/matrix_templates/sections.py
  scripts/templating/matrix_templates/units.py
  specification/appendices/identifier_grammar.rst
  specification/index.rst
  specification/rooms/v1.rst
  specification/rooms/v2.rst
  specification/server_server_api.rst
  specification/targets.yaml
Labels: r0 P1

#1820 Specification for v2 s2s invite API
  api/server-server/invites-v1.yaml
  api/server-server/invites-v2.yaml
  specification/server_server_api.rst
Labels: r0 P1, s2s

#1813 MSC 1813 - Federation Make Membership Room Version
  proposals/1812-federation-make-membership.md
Labels: disposition-merge, merged, proposal, r0 P1

#1821 Specify the room_version response property on /make_{leave|join}
  api/server-server/joins.yaml
  api/server-server/leaving.yaml
Labels: r0 P1, s2s

#1659 MSC 1659 Proposal: Change Event IDs to Hashes
  proposals/1659-event-id-as-hashes.md
Labels: disposition-merge, finished-final-comment-period, proposal, proposal-pr, r0 P1

#1804 MSC1804: Advertising capable room versions to clients
  proposals/1804-advertising-capable-room-versions.md
Labels: disposition-merge, finished-final-comment-period, proposal, proposal-in-review, r0 P1
