Repository matrix-org/matrix-spec-proposals, pull requests merged in 2019-10, with the labels that each got.

#2290 MSC2290: Separate Endpoints for Threepid Binding
  proposals/2229-rebind-existing-3pid.md
  proposals/2290-separate-threepid-bind-hs.md
Labels: disposition-merge, finished-final-comment-period, phase:1, privacy-sprint, proposal

#2176 MSC2176: Update the redaction rules
  proposals/2176-update-redaction-rules.md
Labels: disposition-merge, finished-final-comment-period, proposal, unassigned-room-version

#1983 MSC1983: Supporting a reason for leaving rooms
  proposals/1983-leave-reasons.md
Labels: disposition-merge, finished-final-comment-period, proposal

#1538 MSC1219: storing megolm keys serverside
  proposals/1219-storing-megolm-keys-serverside.md
Labels: e2e, proposal-pr
