Repository matrix-org/matrix-spec-proposals, pull requests merged in 2019-11, with the labels that each got.

#2345 Clarify that the room ID is the object key in /sync responses
  api/client-server/sync.yaml
  changelogs/client_server/newsfragments/2345.clarification
Labels: next-release

#2342 Clarify what format the `country` is on phone number inputs
  api/identity/definitions/request_msisdn_validation.yaml
  changelogs/client_server/newsfragments/2342.clarification
  specification/client_server_api.rst
Labels: next-release

#2341 Clarify that submit_url is without authentication
  api/client-server/administrative_contact.yaml
  api/client-server/definitions/request_token_response.yaml
  changelogs/client_server/newsfragments/2341.clarification
Labels: next-release

#2334 MSC2334 - Change default room version to v5
  proposals/2334-default-room-version-v5.md
Labels: disposition-merge, finished-final-comment-period, proposal

#2343 Recommend that clients don't preview URLs in encrypted rooms
  api/client-server/content-repo.yaml
  changelogs/client_server/newsfragments/2343.clarification
Labels: next-release

#2344 Add filter query param to /context
  api/client-server/event_context.yaml
  changelogs/client_server/newsfragments/2344.clarification
Labels: next-release

#2244 MSC2244: Mass redactions
  proposals/2244-mass-redactions.md
  proposals/images/2244-redaction-spam.png
Labels: disposition-merge, finished-final-comment-period, proposal, unassigned-room-version

#1946 MSC1946: Secure Secret Storage and Sharing
  proposals/1946-secure_server-side_storage.md
Labels: disposition-merge, e2e, feature:e2e-cross-signing, finished-final-comment-period, phase:1, proposal

#2284 MSC2284: Making the identity server optional during discovery
  proposals/2284-optional-identity-server-discovery.md
Labels: disposition-merge, finished-final-comment-period, phase:2, privacy-sprint, proposal

#2313 MSC2313: Moderation policies as rooms (ban lists)
  proposals/2313-moderation-policy-rooms.md
Labels: disposition-merge, finished-final-comment-period, proposal

#1756 MSC1756: cross-signing devices using a master identity key
  proposals/1756-cross-signing.md
  proposals/images/1756-graph1.dot
  proposals/images/1756-graph1.dot.png
  proposals/images/1756-graph2.dot
  proposals/images/1756-graph2.dot.png
Labels: disposition-merge, e2e, feature:e2e-cross-signing, finished-final-comment-period, phase:1, proposal
