Repository matrix-org/matrix-spec-proposals, pull requests merged in 2019-09, with the labels that each got.

#2264 MSC2264: Add an unstable feature flag to MSC2140 for clients to detect support
  proposals/2140-terms-of-service-2.md
Labels: disposition-merge, finished-final-comment-period, phase:1, privacy-sprint, proposal

#2263 MSC2263: Give homeservers the ability to handle their own 3PID registrations/password resets
  proposals/2263-homeserver-pw-resets.md
Labels: disposition-merge, finished-final-comment-period, phase:1, privacy-sprint, proposal

#2281 Spec m.identity_server account data
  changelogs/client_server/newsfragments/2281.feature
  event-schemas/examples/m.identity_server
  event-schemas/schema/m.identity_server
  specification/client_server_api.rst
Labels: client-server

#2255 Spec the v2 IS auth APIs
  api/client-server/administrative_contact.yaml
  api/client-server/create_room.yaml
  api/client-server/definitions/openid_token.yaml
  api/client-server/definitions/request_email_validation.yaml
  api/client-server/definitions/request_msisdn_validation.yaml
  api/client-server/openid.yaml
  api/client-server/registration.yaml
  api/client-server/third_party_membership.yaml
  api/identity/v2_auth.yaml
  changelogs/client_server/newsfragments/2255.breaking
  changelogs/identity_service/newsfragments/2254.feature
  changelogs/identity_service/newsfragments/2255.new
  proposals/2140-terms-of-service-2.md
  specification/client_server_api.rst
  specification/identity_service_api.rst
Labels: identity service

#2282 Spec client-server IS unbind API
  api/client-server/administrative_contact.yaml
  changelogs/client_server/newsfragments/2282.new
  proposals/2140-terms-of-service-2.md
Labels: client-server

#1802 MSC1802: Remove the '200' value from some federation responses
  proposals/1802-standardised-federation-response-format.md
Labels: disposition-merge, finished-final-comment-period, proposal

#2287 Spec the v2 lookup API
  api/identity/lookup.yaml
  api/identity/v2_lookup.yaml
  changelogs/identity_service/newsfragments/2287.new
  specification/identity_service_api.rst
Labels: identity service
