Repository matrix-org/matrix-spec-proposals, pull requests merged in 2019-08, with the labels that each got.

#2174 MSC2174: Move the `redacts` key to a sane place
  proposals/2174-move-redacts-key.md
Labels: disposition-merge, finished-final-comment-period, proposal, unassigned-room-version

#2134 MSC2134: Identity Hash Lookups
  proposals/2134-identity-hash-lookup.md
Labels: disposition-merge, finished-final-comment-period, p1, phase:1, privacy-sprint, proposal

#2229 MSC2229: Allowing 3PID Owners to Rebind
  proposals/2229-rebind-existing-3pid.md
Labels: disposition-merge, finished-final-comment-period, phase:2, privacy-sprint, proposal

#2197 MSC2197: Search Filtering in Federation /publicRooms
  proposals/2197-search_filter_in_federation_publicrooms.md
Labels: disposition-merge, finished-final-comment-period, proposal

#2010 MSC2010: Add client-side spoilers
  proposals/2010-spoilers.md
  proposals/images/2010-spoiler-example.gif
Labels: disposition-merge, finished-final-comment-period, proposal

#1961 MSC1961: Integration manager authentication APIs
  proposals/1961-integrations-auth.md
Labels: disposition-merge, finished-final-comment-period, integrations, phase:1, privacy-sprint, proposal

#1957 MSC1957: Integration manager discovery
  proposals/1957-integrations-discovery.md
Labels: disposition-merge, finished-final-comment-period, integrations, phase:2, privacy-sprint, proposal
