Repository matrix-org/matrix-spec-proposals, pull requests merged in 2020-10, with the labels that each got.

#2788 MSC2788: Room version 6 as the default room version
  proposals/2788-v6-default-version.md
Labels: kind:core, proposal, spec-pr-missing

#2806 Suppress bullets inside table of contents
  scripts/css/nature.css
Labels: aesthetic

#2414 MSC2414: Make reason and score parameters optional for reporting content
  proposals/2414-optional-content-reporting-reason.md
Labels: kind:maintenance, proposal, spec-pr-missing

#2817 Improve wording of room version 1 warnings
  specification/rooms/v1.rst
Labels: hacktoberfest-accepted

#2814 Clarify m.room.redaction, remove duplicate entry
  api/client-server/redaction.yaml
  changelogs/client_server/newsfragments/2814.clarification
  event-schemas/schema/m.room.power_levels
  event-schemas/schema/m.room.redaction
  specification/client_server_api.rst
Labels: hacktoberfest-accepted

#2758 MSC2758: Proposal for a common identifier grammar
  proposals/2758-textual-id-grammar.md
Labels: kind:maintenance, proposal, spec-pr-missing
