Repository matrix-org/matrix-spec-proposals, pull requests merged in 2020-11, with the labels that each got.

#2765 MSC2765: Widget avatars
  proposals/2765-widget-avatars.md
Labels: kind:feature, proposal, spec-pr-missing

#2774 MSC2774: Expose the widget ID to the widget
  proposals/2774-widget-id.md
Labels: finished-final-comment-period, kind:feature, proposal

#1544 MSC1544: Key verification using QR codes
  proposals/1543-qr_code_key_verification.md
Labels: cross-signing-sprint, e2e, finished-final-comment-period, kind:core, proposal, proposal-pr
