Repository matrix-org/matrix-spec-proposals, pull requests merged in 2020-07, with the labels that each got.

#2630 MSC2630: checking public keys in SAS verification
  proposals/2630-sas-check-public-keys.md
Labels: finished-final-comment-period, kind:core, proposal

#2518 Assorted cleanup pieces
  README.rst
  api/application-service/transactions.yaml
  api/client-server/administrative_contact.yaml
  api/client-server/content-repo.yaml
  api/client-server/create_room.yaml
  api/client-server/device_management.yaml
  api/client-server/filter.yaml
  api/client-server/joining.yaml
  api/client-server/key_backup.yaml
  api/client-server/keys.yaml
  api/client-server/kicking.yaml
  api/client-server/login.yaml
  api/client-server/message_pagination.yaml
  api/client-server/notifications.yaml
  api/client-server/presence.yaml
  api/client-server/profile.yaml
  api/client-server/redaction.yaml
  api/client-server/registration.yaml
  api/client-server/room_upgrades.yaml
  api/client-server/search.yaml
  api/client-server/wellknown.yaml
  api/openapi_extensions.md
  api/server-server/public_rooms.yaml
  scripts/dump-swagger.py
Labels: aesthetic

#2611 MSC2611: Remove `m.login.token` User-Interactive Authentication type from the specification
  proposals/2611-remove-login-auth-type.md
Labels: finished-final-comment-period, kind:maintenance, proposal

#2610 MSC2610: Remove `m.login.oauth2` User-Interactive Authentication type from the specification
  proposals/2610-remove-oauth2-auth-type.md
Labels: finished-final-comment-period, kind:maintenance, proposal

#2663 MSC2663: Errors for dealing with non-existent push rules
  proposals/2663-errors-nonexistent-push-rules.md
Labels: finished-final-comment-period, kind:maintenance, proposal

#2689 MSC2689: Fix E2EE for guests
  proposals/2689-fix-e2ee-for-guests.md
Labels: finished-final-comment-period, kind:maintenance, proposal
