Repository matrix-org/matrix-spec-proposals, pull requests merged in 2021-11, with the labels that each got.

#3479 Hide room version fragments from table of contents
  content/rooms/fragments/v1-auth-rules.md
  content/rooms/fragments/v1-canonical-json.md
  content/rooms/fragments/v1-redactions.md
  content/rooms/fragments/v2-state-res.md
  content/rooms/fragments/v3-auth-rules.md
  content/rooms/fragments/v3-handling-redactions.md
  content/rooms/fragments/v4-event-explainer.md
  content/rooms/fragments/v5-signing-requirements.md
  content/rooms/fragments/v6-canonical-json.md
  content/rooms/fragments/v6-redactions.md
Labels: release-blocker

#3283 MSC3283: Expose capabilities for profile actions
  proposals/3283-enable_set_displayname-capabilities.md
Labels: proposal, client-server, finished-final-comment-period, kind:feature

#2674 MSC2674: Event Relationships
  proposals/2674-event-relationships.md
Labels: proposal, finished-final-comment-period, kind:core
