Repository matrix-org/matrix-spec-proposals, pull requests merged in 2021-09, with the labels that each got.

#3375 MSC3375: Room version 9.
  proposals/3375-room-v9.md
Labels: proposal, finished-final-comment-period, room-spec, kind:core

#3231 MSC3231: Token authenticated registration
  proposals/3231-token-authenticated-registration.md
Labels: proposal, client-server, finished-final-comment-period, kind:feature

#2918 MSC2918: Refresh tokens
  proposals/2918-refreshtokens.md
Labels: proposal, finished-final-comment-period, kind:feature
