Repository matrix-org/matrix-spec-proposals, pull requests merged in 2021-06, with the labels that each got.

#2732 MSC2732: Olm fallback keys
  proposals/2732-olm-fallback-keys.md
Labels: e2e, finished-final-comment-period, kind:feature, needs-implementation, proposal

#3173 MSC3173: Expose stripped state events to any potential joiner
  proposals/3173-expose-stripped-state-events.md
Labels: client-server, finished-final-comment-period, kind:feature, proposal

#2778 MSC2778: Providing authentication method for appservice users
  proposals/2778-appservice-login.md
Labels: finished-final-comment-period, kind:feature, proposal
