Repository matrix-org/matrix-spec-proposals, pull requests merged in 2021-04, with the labels that each got.

#2312 MSC2312: Matrix URI scheme proposal
  proposals/2312-matrix-uri.md
Labels: finished-final-comment-period, kind:core, proposal

#2241 MSC2241: Key verification in DMs
  proposals/2241-e2e-verification-in-dms.md
Labels: finished-final-comment-period, kind:core, proposal, unresolved-concerns

#2713 MSC2713: Remove deprecated v1 Identity Service API
  proposals/2713-remove-deprecated-identity-endpoints.md
Labels: finished-final-comment-period, kind:maintenance, proposal
