Repository matrix-org/matrix-spec-proposals, pull requests merged in 2021-12, with the labels that each got.

#3419 MSC3419: Allow guests to send more event types
  proposals/3419-guest-state-events.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance, hacktoberfest-accepted

#3550 MSC3550: Allow HTTP 403 as a response to profile lookups
  proposals/3550-allow-403-response-profile-lookup.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance

#3530 Add HTTP 403 to possible profile responses
  changelogs/client_server/newsfragments/3530.clarification
  data/api/client-server/profile.yaml
Labels: blocked
