Repository matrix-org/matrix-spec-proposals, pull requests merged in 2021-03, with the labels that each got.

#2998 MSC2998: Room Version 7
  proposals/2998-rooms-v7.md
Labels: finished-final-comment-period, kind:core, proposal

#2858 MSC2858: Multiple SSO Identity Providers
  proposals/2858-Multiple-SSO-Identity-Providers.md
  proposals/images/2858-login.png
Labels: finished-final-comment-period, kind:feature, proposal

#2184 MSC2184: Allow the use of the HTML <details> tag
  proposals/2184-allow-html-details.md
Labels: finished-final-comment-period, kind:maintenance, proposal

#2874 MSC2874: Single SSSS
  proposals/2874-single-ssss.md
Labels: e2e, finished-final-comment-period, kind:maintenance, proposal

#2320 MSC2320: Versions information for identity servers
  proposals/2320-identity-versions.md
Labels: finished-final-comment-period, kind:maintenance, proposal

#2801 MSC2801: Make it explicit that event bodies are untrusted data
  proposals/2801-untrusted-event-data.md
Labels: finished-final-comment-period, kind:core, proposal

#2557 MSC2557: Proposal to clarify spoilers
  proposals/2010-spoilers.md
  proposals/2557-spoiler-clarifications.md
Labels: finished-final-comment-period, kind:maintenance, proposal

#2403 MSC2403: Add "knock" feature
  proposals/2403-knock.md
Labels: finished-final-comment-period, kind:feature, proposal, room-vNext
