Repository matrix-org/matrix-spec-proposals, pull requests merged in 2021-01, with the labels that each got.

#2844 MSC2844: Global version number for the whole spec
  proposals/2844-global-versioning.md
Labels: finished-final-comment-period, kind:feature, proposal

#2980 Migrate all spec pages
  assets-hugo/scss/custom.scss
  content/_index.md
  content/appendices.md
  content/application-service-api.md
  content/client-server-api/_index.md
  content/client-server-api/modules/account_data.md
  content/client-server-api/modules/admin.md
  content/client-server-api/modules/content_repo.md
  content/client-server-api/modules/device_management.md
  content/client-server-api/modules/dm.md
  content/client-server-api/modules/end_to_end_encryption.md
  content/client-server-api/modules/event_context.md
  content/client-server-api/modules/guest_access.md
  content/client-server-api/modules/history_visibility.md
  content/client-server-api/modules/ignore_users.md
  content/client-server-api/modules/instant_messaging.md
  content/client-server-api/modules/mentions.md
  content/client-server-api/modules/moderation_policies.md
  content/client-server-api/modules/openid.md
  content/client-server-api/modules/presence.md
  content/client-server-api/modules/push.md
  content/client-server-api/modules/read_markers.md
  content/client-server-api/modules/receipts.md
  content/client-server-api/modules/report_content.md
  content/client-server-api/modules/room_previews.md
  content/client-server-api/modules/room_upgrades.md
  content/client-server-api/modules/search.md
  content/client-server-api/modules/secrets.md
  content/client-server-api/modules/send_to_device.md
  content/client-server-api/modules/server_acls.md
  content/client-server-api/modules/server_notices.md
  content/client-server-api/modules/sso_login.md
  content/client-server-api/modules/stickers.md
  content/client-server-api/modules/tags.md
  content/client-server-api/modules/third_party_invites.md
  content/client-server-api/modules/third_party_networks.md
  content/client-server-api/modules/typing_notifications.md
  content/client-server-api/modules/voip_events.md
  content/identity-service-api.md
  content/proposals.md
  content/push-gateway-api.md
  content/rooms/_index.md
  content/rooms/v1.md
  content/rooms/v2.md
  content/rooms/v3.md
  content/rooms/v4.md
  content/rooms/v5.md
  content/rooms/v6.md
  content/server-server-api.md
  layouts/partials/alert.html
  layouts/shortcodes/boxes/note.html
  layouts/shortcodes/boxes/rationale.html
  layouts/shortcodes/boxes/warning.html
  layouts/shortcodes/cs-modules.html
  layouts/shortcodes/sas-emojis.html
Labels: spec-redesign

#2366 MSC2366: Key verification flow additions: m.key.verification.ready and m.key.verification.done
  proposals/2366-key-verification-accept.md
Labels: finished-final-comment-period, kind:core, proposal
