Repository matrix-org/matrix-spec-proposals, pull requests merged in 2022-02, with the labels that each got.

#3676 MSC3676: Transitioning away from reply fallbacks
  proposals/3676-transitioning-away-from-reply-fallbacks.md
Labels: proposal, client-server, finished-final-comment-period, kind:core

#3694 Fix knock->leave transition in auth rules
  changelogs/room_versions/newsfragments/3694.clarification
  content/rooms/fragments/v8-auth-rules.md
  content/rooms/v7.md
Labels: release-blocker

#3582 MSC3582: Remove m.room.message.feedback
  proposals/3582-remove-room-feedback.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance

#3589 MSC3589: Room version 9 as the default room version
  proposals/3589-v9-default-version.md
Labels: proposal, s2s, client-server, finished-final-comment-period, kind:core
