Repository matrix-org/matrix-spec-proposals, pull requests merged in 2022-03, with the labels that each got.

#3316 MSC3316: Add timestamp massaging to the spec
  proposals/3316-appservice-timestamp-massaging.md
Labels: proposal, application services, finished-final-comment-period, disposition-merge, kind:maintenance

#3440 MSC3440: Threading via `m.thread` relation
  proposals/3440-threading-via-relations.md
Labels: proposal, client-server, finished-final-comment-period, disposition-merge, kind:core

#3667 MSC3667: Enforce integer power levels
  proposals/msc3667-enforce-integer-power-levels.md
Labels: room-vNext, proposal, s2s, finished-final-comment-period, unassigned-room-version
