Repository matrix-org/matrix-spec-proposals, pull requests merged in 2022-04, with the labels that each got.

#3700 MSC3700: Deprecate plaintext sender key
  proposals/3700-deprecate-sender-key.md
Labels: e2e, proposal, finished-final-comment-period, kind:maintenance

#3666 MSC3666: Bundled aggregations for server side search
  proposals/3666-bundled-aggregations-for-search.md
Labels: proposal, client-server, finished-final-comment-period, kind:feature

#3383 MSC3383: Include destination in X-Matrix Auth Header
  proposals/3383-fed-auth-destination.md
Labels: proposal, finished-final-comment-period, kind:maintenance
