Repository matrix-org/matrix-spec-proposals, pull requests merged in 2022-07, with the labels that each got.

#3267 MSC3267: Reference relations
  proposals/3267-reference-relations.md
Labels: proposal, client-server, finished-final-comment-period, kind:feature

#2832 MSC2832: HS -> AS authorization header
  proposals/2832-appservice-auth-fix.md
Labels: proposal, application services, finished-final-comment-period, kind:maintenance

#3786 MSC3786: Add a default push rule to ignore `m.room.server_acl` events
  proposals/3786-acl-notifs.md
Labels: push, proposal, finished-final-comment-period, kind:maintenance

#2285 MSC2285: Private read receipts
  proposals/2285-hidden-read-receipts.md
Labels: proposal, client-server, finished-final-comment-period, kind:core

#2676 MSC2676: Message editing
  proposals/2676-message-editing.md
Labels: proposal, finished-final-comment-period, kind:core

#3827 MSC3827: Filtering of `/publicRooms` by room type
  proposals/3827-space-explore.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance

#3828 MSC3828: Content Repository CORP Headers
  proposals/3828-content-repository-corp-headers.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance

#3844 MSC3844: Remove unused policy room sharing mechanism
  proposals/3844-remove-mjolnir-sharing.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance

#3818 MSC3818: Copy room type on upgrade
  proposals/3818-copy-room-type-on-upgrade.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance
