Repository matrix-org/matrix-spec-proposals, pull requests merged in 2023-03, with the labels that each got.

#3758 MSC3758: Add `event_property_is` push rule condition kind
  proposals/3758-expand-push-rule-conditions.md
Labels: proposal, client-server, finished-final-comment-period, kind:feature

#3873 MSC3873: event_match dotted keys
  proposals/3873-event-match-dotted-keys.md
Labels: push, proposal, finished-final-comment-period, kind:maintenance

#3966 MSC3966: `event_property_contains` push rule condition
  proposals/3966-exact-event-property-contains-push-condition.md
Labels: push, proposal, client-server, finished-final-comment-period, kind:feature

#3923 MSC3923: Bringing Matrix into the IETF process
  proposals/3923-ietf-spec-process.md
Labels: proposal, finished-final-comment-period, meta, kind:core

#2677 MSC2677: Annotations and reactions
  proposals/2677-reactions.md
Labels: proposal, finished-final-comment-period, kind:core
