Repository matrix-org/matrix-spec-proposals, pull requests merged in 2023-01, with the labels that each got.

#3904 MSC3904: Room version 10 as the default room version
  proposals/3904-room-version-10-as-a-default.md
Labels: proposal, finished-final-comment-period, room-spec, kind:core, hacktoberfest-accepted

#3783 MSC3783: Fixed base64 for SAS verification
  proposals/3783-fixed-base64-sas-verification.md
Labels: e2e, proposal, client-server, finished-final-comment-period, kind:maintenance

#3943 MSC3943: Partial joins to nameless rooms should include heroes' memberships
  proposals/3943-heroes-in-partial-send-join-response.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance
