Repository matrix-org/matrix-spec-proposals, pull requests merged in 2023-06, with the labels that each got.

#4009 MSC4009: Expanding the Matrix ID grammar to enable E.164 IDs
  proposals/4009-e.164-matrix-ids.md
Labels: proposal, identity service, finished-final-comment-period, kind:feature

#3989 MSC3989: Redact `origin` property on events
  proposals/3989-redact-origin-field.md
Labels: requires-room-version, proposal, blocked, room-spec, unassigned-room-version, kind:maintenance

#3821 MSC3821: Update the redaction rules, again
  proposals/3821-update-redaction-rules-again.md
Labels: requires-room-version, spec-pr-missing, proposal, blocked, unassigned-room-version, kind:maintenance

#3820 MSC3820: Room version 11
  proposals/3820-rooms-v11.md
Labels: proposal, finished-final-comment-period, room-spec, kind:core
