Repository matrix-org/matrix-spec-proposals, pull requests merged in 2023-08, with the labels that each got.

#3958 MSC3958: Suppress notifications from message edits
  proposals/3958-suppress-notifications-of-message-edits.md
Labels: push, proposal, finished-final-comment-period, disposition-merge, kind:maintenance

#3061 MSC3061: Sharing room keys for past messages
  proposals/3061-shareable-room-keys.md
Labels: e2e, proposal, finished-final-comment-period, disposition-merge, kind:core

#4040 MSC4040: Update SRV service name to IANA registration
  proposals/4040-update-srv-service-name.md
Labels: proposal, finished-final-comment-period, disposition-merge, kind:maintenance

#3930 MSC3930: Polls push rules/notifications
  proposals/3930-polls-notifications.md
Labels: push, proposal, finished-final-comment-period, disposition-merge, kind:feature
