Repository matrix-org/matrix-spec-proposals, pull requests merged in 2023-05, with the labels that each got.

#3882 MSC3882: Allow an existing session to sign in a new session
  proposals/3882-login-token-request.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance

#2249 MSC2249: Require users to have visibility on an event when submitting reports
  proposals/2249-report-require-joined.md
Labels: proposal, finished-final-comment-period, kind:maintenance

#2659 MSC2659: Application service ping endpoint
  proposals/2659-appservice-ping.md
Labels: proposal, application services, finished-final-comment-period, kind:feature

#3860 MSC3860: Media Download Redirects
  proposals/3860-media-download-redirect.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance
