Repository matrix-org/matrix-spec-proposals, pull requests merged in 2023-04, with the labels that each got.

#3980 MSC3980: Dotted Field Consistency
  proposals/3980-dotted-fields-consistency.md
Labels: push, proposal, client-server, finished-final-comment-period, kind:maintenance

#3970 MSC3970: Scope transaction IDs to devices
  proposals/3970-device-scope-txnid.md
Labels: proposal, client-server, finished-final-comment-period, kind:core, matrix-2.0

#2246 MSC2246: Asynchronous media uploads
  proposals/2246-asynchronous-uploads.md
Labels: proposal, finished-final-comment-period, kind:feature

#3952 MSC3952: Intentional Mentions
  proposals/3952-intentional-mentions.md
Labels: push, proposal, client-server, finished-final-comment-period, kind:core

#2746 MSC2746: Improved VoIP Signalling
  proposals/2746-reliable-voip.md
Labels: voip, proposal, finished-final-comment-period, kind:feature

#3987 MSC3987: Push actions clean-up
  proposals/3987-push-actions-clean-up.md
Labels: push, proposal, finished-final-comment-period, kind:maintenance
