Repository matrix-org/matrix-spec-proposals, pull requests merged in 2024-06, with the labels that each got.

#4115 MSC4115: membership information on events
  proposals/4115-membership-on-events.md
Labels: e2e, proposal, client-server, finished-final-comment-period, kind:maintenance

#3916 MSC3916: Authentication for media
  proposals/3916-authentication-for-media.md
Labels: proposal, s2s, client-server, finished-final-comment-period, kind:core, hacktoberfest-accepted

#4151 MSC4151: Reporting rooms (Client-Server API)
  proposals/4151-report-room.md
Labels: proposal, client-server, finished-final-comment-period, kind:core

#2867 MSC2867: Marking rooms as unread
  proposals/2867-rooms_marked_unread.md
Labels: proposal, finished-final-comment-period, kind:feature
