Repository matrix-org/matrix-spec-proposals, pull requests merged in 2024-12, with the labels that each got.

#3823 MSC3823: Account Suspension
  proposals/3823-code-for-account-suspension.md
Labels: spec-pr-in-review, proposal, client-server, kind:maintenance, release-blocker

#4225 MSC4225: Specification of an order in which one-time-keys should be issued
  proposals/4225-one-time-key-ordering.md
Labels: e2e, proposal, finished-final-comment-period, kind:core, matrix-2.0

#4147 MSC4147: Including device keys with Olm-encrypted events
  proposals/4147-including-device-keys-with-olm-encrypted-events.md
Labels: proposal, finished-final-comment-period, kind:maintenance, matrix-2.0
