Repository matrix-org/matrix-spec-proposals, pull requests merged in 2024-05, with the labels that each got.

#3939 MSC3939: Account locking
  proposals/3939-account-locking.md
Labels: proposal, client-server, finished-final-comment-period, kind:feature

#4132 MSC4132: Deprecate Linking to an Event Against a Room Alias
  proposals/4132-deprecate-event-on-room-alias-uris.md
Labels: proposal, finished-final-comment-period, kind:maintenance

#3967 MSC3967: Do not require UIA when first uploading cross signing keys
  proposals/3967-device-signing-upload-uia.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance, matrix-2.0
