Repository matrix-org/matrix-spec-proposals, pull requests merged in 2024-02, with the labels that each got.

#2705 MSC2705: Animated thumbnails for media
  proposals/2705-thumbnail-requirements.md
Labels: proposal, finished-final-comment-period, kind:feature

#4041 MSC4041: http header Retry-After for http code 429
  proposals/4041-retry-after-header-rate-limiting.md
Labels: proposal, client-server, finished-final-comment-period, kind:maintenance

#4077 MSC4077: Improved process for handling deprecated HTML features
  proposals/4077-process-deprecated-html.md
Labels: proposal, finished-final-comment-period, process, kind:maintenance
