Repository matrix-org/matrix-spec-proposals, pull requests merged in 2024-04, with the labels that each got.

#1692 MSC1692: Terms of service at registration
  proposals/1692-terms-at-registration.md
Labels: proposal, client-server, finished-final-comment-period, kind:core

#2191 MSC2191: Markup for mathematical messages
  proposals/2191-maths.md
Labels: proposal, finished-final-comment-period, kind:feature

#2870 MSC2870: Protect server ACLs from redaction
  proposals/2870-protect-acls-from-redaction.md
Labels: requires-room-version, proposal, finished-final-comment-period, unassigned-room-version, kind:maintenance, maybe v12?

#4126 MSC4126: Deprecation of query string auth
  proposals/4126-deprecate-query-string-auth.md
Labels: proposal, identity service, client-server, finished-final-comment-period, kind:maintenance
