Repository matrix-org/matrix-spec-proposals, pull requests merged in 2025-03, with the labels that each got.

#4260 MSC4260: Reporting users (Client-Server API)
  proposals/4260-report-user.md
Labels: proposal, client-server, finished-final-comment-period, kind:core

#3266 MSC3266: Room summary API
  proposals/3266-room-summary.md
Labels: proposal, client-server, disposition-merge, final-comment-period, kind:feature

#2965 MSC2965: OAuth 2.0 Authorization Server Metadata discovery
  proposals/2965-auth-metadata.md
Labels: proposal, finished-final-comment-period, kind:core, matrix-2.0

#4254 MSC4254: Usage of RFC7009 Token Revocation for Matrix client logout
  proposals/4254-oauth2-revocation.md
Labels: proposal, client-server, finished-final-comment-period, kind:core, matrix-2.0
